// style.scss
div {
  margin: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; /* Centrar verticalmente en la pantalla */
  
    
    img {
      max-width: 100%;
      height: auto;
    }
  
    p {
        margin: 5rem;
      width: 60%;
      font-size: xx-large;
      text-align: center;
      margin-top: 20px;
    }
  
    a {
        width: 100%;
      border: none;
      padding: 10px 50px;
      cursor: pointer;
      font-size: large;
      border-radius: 5px;
    }
  }
@media (max-width:425px){
    div{
        p{
            width: 100%;
        }
    }
}
  